.about-container {
  color: #111;
  width: 100%;
  background-color: white;
}

.about-container h1 {
  text-align: center;
  margin-bottom: 40px;
}

.about-section {
  margin-bottom: 35px;
  background-color: #f7f7f7;
  padding: 25px;
  border-radius: 14px;
}

.about-section h2 {
  margin-bottom: 15px;
  color: #333;
}

.about-section p {
  margin-bottom: 12px;
  line-height: 1.6;
  color: #555;
}

.about-section ul {
  margin: 15px 0;
  padding-left: 20px;
}

.about-section li {
  margin-bottom: 8px;
  color: #444;
}
