.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 64px;
  background: white;
} 

.logo {
  font-size: 24px;
  font-weight: 700;
  
}

.nav {
  display: flex;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
}

.cart {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  background: #111;
  color: white;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
}
.login {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  background: #0d65d1;
  color: white;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
}

.Logout{
  display:inline;
}